

body,html{
    height:100%;
    font-family: sans serif;
}

.full-height{
    min-height: 100vh;
    padding-top: 5rem;
    margin-top: -5rem;
}

.teal-bottom-border{
    border-bottom: 5px solid $teal;
}

.page-header{
    display: block;
    color: $white;
    background: $teal;
    padding-left: 1.5em;
    line-height: 120px;

    -webkit-margin-after: 1em;
}

.hoverline{
    border-bottom: 5px solid transparent;
}

.hoverline:hover{
    border-bottom: 5px solid $blue;
}

h1{
    margin:0;  
}

.text-center{
    text-align: center;
}

.container{
    width: 85%;
}