$white: #fff;
$grey: #bdbdbd;
$red: #f44336;
$purple: #9c27b0;
$blue: #2196f3;
$green: #4caf50;
$teal: #009688;
$yellow: #ffeb3b;
$orange : #ff9800;
$shadow : rgba(0,0,0,.3);
$blackOverlay: linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
  );

$landingPageImg: url('../images/computer-1245714_1920.jpg');
