.navbar-fixed{

    h3{
        margin: 0;
        padding: 10px;
        font-family: Lobster, Monospace;
    }

    a{
        font-size: 130%;
        
    }

    @media(max-width: 1120px){
        .container{
            width: 95%;
        }
    }
    @media(max-width: 600px){

        h3{
            font-size: 150%;
        }
    }

    @media(max-width: 400px){

        h3{
            font-size: 120%;
        }
    }
}