#home{
    

    background: $blackOverlay, $landingPageImg;
    background-size: cover;

    div{
        height:100%;
    }

    h1{
        
        margin: 0;
        padding: 40px;
        line-height: 90px;
        

        span{
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 5px;
            border-radius: 20px;
            display: inline-block;
        }

    }

    

    @media(max-width: 600px){
        h1{
            font-size: 250%;
        }
    }


    @media(max-width: 400px){

        h1{
            font-size: 200%;
        }
    }
}