#skills{

    .card{
        margin-bottom: 60px;
    }

    h4{
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }

    .col{
        

        img.responsive-img{
           
            max-height: 100px;
            text-align: center;
            padding-bottom: 10px;
            
        }

        h6{
            font-size: 150%;
        }

    }

}